<div class="editor-container" [class.drawer-expanded]="drawerExpanded">
  <app-toolbar
    [workflowName]="store.workflow()?.name || 'New Workflow'"
    [isActive]="store.workflow()?.active || false"
    [isDirty]="store.isDirty()"
    [isSaving]="store.isSaving()"
    [isExecuting]="store.isExecuting()"
    [activeTab]="activeTab"
    (nameChanged)="store.updateWorkflowName($event)"
    (save)="onSave()"
    (execute)="onExecute()"
    (toggleActive)="store.toggleActive()"
    (back)="goBack()"
    (togglePalette)="togglePalette()"
    (showExecutions)="toggleDrawer()"
    (tabChanged)="onTabChanged($event)" />

  <div class="editor-body">
    <div class="canvas-area">
      <app-react-flow-wrapper
        [workflow]="store.workflow()"
        [nodeTypeMap]="nodeTypeStore.nodeTypes()"
        [executionData]="store.executionData()"
        [selectedNodeId]="store.selectedNodeId()"
        [isExecuting]="store.isExecuting()"
        (nodeSelected)="onNodeSelected($event)"
        (nodeDoubleClicked)="store.selectNode($event)"
        (nodeAdded)="store.addNode($event)"
        (nodeRemoved)="store.removeNode($event)"
        (nodesPositionChanged)="store.updateNodePositions($event)"
        (connectionsChanged)="store.updateConnections($event)"
        (execute)="onExecute()"
        (stopExecution)="onStopExecution()" />
    </div>

    <div class="palette-slide" [class.palette-open]="showPalette">
      <app-node-palette
        [nodeTypes]="nodeTypeStore.groupedByCategory()"
        (close)="togglePalette()"
        (nodeClicked)="onPaletteNodeClicked($event)" />
    </div>

    @if (store.selectedNode()) {
      <app-parameter-panel
        [node]="store.selectedNode()!"
        [nodeType]="nodeTypeStore.getByType(store.selectedNode()!.type)"
        [allNodes]="store.nodes()"
        [connections]="store.connections()"
        [executionData]="store.executionData()"
        [nodeTypeMap]="nodeTypeStore.nodeTypes()"
        [readOnly]="!!store.executionData()"
        (parameterChanged)="store.updateNode(store.selectedNodeId()!, { parameters: $event })"
        (close)="store.selectNode(null)"
        (deleteNode)="store.removeNode(store.selectedNodeId()!)"
        (navigateToNode)="store.selectNode($event)" />
    }
  </div>

  <app-editor-drawer
    [executionData]="store.executionData()"
    [selectedNodeId]="store.selectedNodeId()"
    [isExecuting]="store.isExecuting()"
    [workflowId]="store.workflow()?.id || null"
    [expanded]="drawerExpanded"
    (expandedChange)="drawerExpanded = $event" />
</div>
